%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  %a.navbar-brand{:href => "#"} Navbar
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "#"} Home
      %li.nav-item
        %a.nav-link{:href => "#"} About
      %li.nav-item
        %a.nav-link{:href => "#"} Study



%div.container.rounded
  - @list.each do |word|
    %div.row
      %div.col-md-2.hello1.top-buffer.roundLeft
        %p.hello1 #{word.word}
      %div.col-md-10.hello2.top-buffer.roundRight
        %p.hello2 #{word.definition}

