$textColor: #78909C;
$textColorHoverLink: #32AEDE;
$regTitleSize: 56px;
$regFontSize: 24px;
$titleFont: Arial, Helvetica, sans-serif;


$backgroundColorReg: white;

$borderColor: #32AEDE;

$navBgColor: #32AEDE;

$vocabFont: "Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;