// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


// .row div {
// 	height: 45vh;
// }

.testingModal {
	background-color: red;
}

.testingRow {
	background-color: green;
}



// css for the general application

// extra small devices less than or equal to 575px
@media screen and (max-width : 576px) and (min-width : 1px) {
	body {
		background-color: yellow;
	}

	div.row	 {
		padding: 10px;
		height: 25vh;
	}

	.sampleImage {
		display: none;
	}

	.roundCenter {
		border-radius: 0px 15px 0px 0px;
	}

	.roundLeft {
		border-radius: 15px 0px 0px 0px;
	}


	.modalRound {
	border-radius: 0px 0px 15px 15px;
	background-color: white;
	// background-color: red;
	}

	.imageArrow {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.imageModal {
		width: auto;
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}
}

// small screens
@media  screen and (max-width : 767px) and (min-width : 577px) {
	body {
		background-color: red;
	}

	.modalRound {
		display: none;
	}

	.row div {
		height: 20vh;
	}

	.imageDef{

		width: auto;
		height:auto;
		max-width: 100%;
		max-height: 92%;
		vertical-align: middle;
		padding-top: 9px;
	}
	.top-buffer {
		margin-top: 15px;
		padding:  18px, 18px;

	}

	.roundCenter {
		border-radius: 0px 0px 0px 0px;
	}

	.roundLeft {
		border-radius: 15px 0px 0px 15px;
	}

	.roundRight {
		border-radius: 0px 15px 15px 0px;
	}
}	



// medium screens
@media screen and (min-width : 777px) and (max-width : 991px) {
	body {
		background-color: purple;
	}
	.modalRound {
		display: none;
	}

	div.row {
		height: 45vh;
		padding-top: 15px;
		padding-bottom: 15px; 
	}

	.imageDef{

		width: auto;
		height:auto;
		max-width: 100%;
		max-height: 92%;
		vertical-align: middle;
		padding-top: 9px;
	}

	.roundCenter {
		border-radius: 0px 0px 0px 0px;
	}

	.roundLeft {
		border-radius: 15px 0px 0px 15px;
	}

	.roundRight {
		border-radius: 0px 15px 15px 0px;
	}

}

// large screens
@media screen and (max-width : 1199px) and (min-width : 992px) {
	body {
		background-color: orange;
	}

	.modalRound {
		display: none;
	}


	div.row {
		height: 50vh;
		padding-top: 15px;
		padding-bottom: 15px; 
	}

	.imageDef{

		width: auto;
		height:auto;
		max-width: 100%;
		max-height: 92%;
		vertical-align: middle;
		padding-top: 9px;
	}

	.roundCenter {
		border-radius: 0px 0px 0px 0px;
	}

	.roundLeft {
		border-radius: 15px 0px 0px 15px;
	}

	.roundRight {
		border-radius: 0px 15px 15px 0px;
	}

}

// extra large screens

@media screen and (min-width : 1200px){
	body {
		background-color: green
	}

	.modalRound {
		display: none;
	}
	
	div.row {
		height: 53vh;
		padding-top: 15px;
		padding-bottom: 15px; 
	}

	.imageDef{

		width: auto;
		height:auto;
		max-width: 100%;
		max-height: 92%;
		vertical-align: middle;
		padding-top: 9px;
	}

	.roundCenter {
		border-radius: 0px 0px 0px 0px;
	}

	.roundLeft {
		border-radius: 15px 0px 0px 15px;
	}

	.roundRight {
		border-radius: 0px 15px 15px 0px;
	}




}
// css for the general application


// .imageDef {
// 	width: auto;
// 	max-height: 100%;
// 	max-width:100%;
// 	height:auto;
// }

.hello1 {
	background-color: white;
	// padding: 50px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;

}

.hello2 {
	background-color: white;
	// padding: 50px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
    align: left;

}

.sampleImage {

	align: left;
	background-color: white;
	
	// visibility: hidden;
}


body {
	background-color: rgb(236, 240, 241);
	// padding-top:70px;
}

// @media only screen and (max-width: 773px) {
// 	body {
// 		background-color: red;
// 	}
// }

// @media only screen and (max-width: 773px) {
// 	.hello1 {
// 		background-color: yellow;
// 	}
// 	.hello2 {
// 		background-color: pink;
// 	}
// 	.sampleImage {
// 		background-color: orange;
// 	}
// }

.bg-light1 {
    background-color: rgb(110, 211, 207);
}

.hello {
  
  
  padding: 20px;
}





a {
	color:black;
}


// .top-buffer { 
// 	margin-top: 30px;
// 	padding: 25px 50px;
	
// }

// .roundLeft {
// 	border-radius: 15px 0px 0px 15px;
// }

// .roundCenter {
// 	border-radius: 0px, 0px, 0px, 0px;
// }
// .roundRight {
// 	border-radius: 0px 15px 15px 0px;
// }


// ul.nav a:hover { color: red; }




// .zapo {
	
// 	align: left;
// }




