// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
	background-color: rgb(236, 240, 241);
	padding-top:70px;
}

.square {
	background-color: rgb(110, 211, 207);
	position: relative;
	width: 200px;
	height: 200px;
	margin : 43px;
	float: left;
	display: block;
	

}
.squareText {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 30%;
	margin: auto;
}



.bg-light1 {
    background-color: rgb(110, 211, 207);
}

.hello {
  
  
  padding: 20px;
}

.hello1 {
	background-color: white;
	padding: 50px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;

}

.hello2 {
	background-color: white;
	padding: 50px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
    align: left;

}

a {
	color:black;
}


.top-buffer { 
	margin-top: 30px;
	padding: 25px 50px;
	
}

.roundLeft {
	border-radius: 15px 0px 0px 15px;
}

.roundCenter {
	border-radius: 0px, 0px, 0px, 0px;
}
.roundRight {
	border-radius: 0px 15px 15px 0px;
}


ul.nav a:hover { color: red; }


.sampleImage {

	align: left;
	background-color: white;
	padding: 50px;
}

.zapo {
	
	align: left;
}

.hello10 {
	background-color: red;
	padding: 50px;
	width: 100px;
	height: 100px;
	margin-top: 30px;
}

.update {
	width: 40%;
	margin: 0 auto;
	padding: 40px;
}

.rightShift {
	float: right;
	position: relative;
}




