// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
	background-color: #DCDCDC;
	padding-top:70px;
}
.hello {
  
  
  padding: 20px;
}

.hello1 {
	background-color: white;
	padding: 50px
}

.hello2 {
	background-color: white;
	padding: 50px
}


.top-buffer { 
	margin-top: 30px;
	padding: 25px 50px;
	
}

.roundLeft {
	border-radius: 15px 0px 0px 15px;
}

.roundRight {
	border-radius: 0px 15px 15px 0px;
}